/* ==========MIAS ESTILOS============= */

h1 {
    color: darkorange;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: darkgray;
    padding: 50px;
    border: 6px red dashed;
    /*
    border-radius: 30px 200px 0px 100px;*/
}

#spanId {
    font-size: 18px;
    margin: 50px;
}

img {
    width: 400px;
}


/* Extras */


/* posicionamiento  */

.container {
    position: relative;
    background: url("/08-HTML/tareaHTML/images/fondo.jpg");
    margin: 0px;
    /*  height: 0px; */
    /* align-items por defecto tiene el valor `stretch` */
    display: inline-block;
    align-items: flex-start;
    width: 1000px;
    height: 900px;
}

.textWhite {
    color: white;
}

.textLink {
    color: blueviolet;
}